html, body{
    scroll-behavior: smooth;
}
body {
    font-family: 'Alice', serif;
    cursor: url('../images/cursor.png'), auto;		
    overflow-x: hidden;
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
    /* opacity: 0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s; */

}
#preloader{
    background: #000000;
    background-size: 50%;
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}
p{
    font-size:15%;
    color:black;
}
a{
    text-decoration: none;
    color:rgb(8, 6, 6);
    padding:10px;
}
b{
    font-weight: bold;
}

/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D63286; 
    border-radius: 10px;
}

/* scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d30a72; 
}

/*SIDE NAV BAR*/
#navLinks{
    position:absolute;
    z-index: 99;
    font-size:1.3vw;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5px;
  
    position: fixed;
    width: 13vw;
    height: 2.5vw;
    left: 100%;
    top: 50%;                
   
    transform-origin: 0% 0%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg) translateX(-50%);
  
    padding:10px 30px 10px 30px;
    background-color: transparent;
    /* border: 0.5px solid rgb(243, 243, 243); */    
    color:white;
    text-align: center;
}
#navLinks a{
    color:rgb(255, 255, 255);
}
#navLinks a:hover{
    cursor: pointer;
  }
.homebtn, .scroll{
    display: flex;   
  }
.scroll img{
    width:1.5vw;
  }
.homebtn img{
    width:1.9vw;
  }
.scroll{
    background-color: transparent;
    border:none;
}
.expbtn{
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

#navLinks:hover{
    background-color: rgb(249, 251, 252);
    opacity:0.9;
}
    
#navLinks:hover > a{
    color: black;
}

.homebtn:hover{
    background-color: #FC0;
}
#navLinks:hover > .expbtn:hover{
    color: rgb(194, 64, 12);
    text-shadow: #FC0 1px 0 10px;
}
.scroll:hover{
    cursor:pointer;
    background-color: #FC0;
}
.previous:hover {
    cursor:pointer;
}

/*LANDING SECTION - HISTORY OF SYNAESTHESIA*/
.hero{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}

#background-video-landing{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
em{
    font-style: italic;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:100vw;
    gap:20px;
}
.hero h1{
    color:#ffffff;
    text-align: center;
    margin: 0;
    /* font-family: 'Staatliches', cursive; */
    font-size:7.5vw;
    text-shadow: rgba(0, 0, 0, 0.555) 1px 0 5px;
}
.hero p{
    font-size: 3vh;
    padding:10px;
    color:rgb(250, 250, 250);
    margin:0;
    /* width:50vw; */
    text-align: center;
    background-color: #00000071;
    border-radius: 5px;
}
#instructions-para{
    font-size: 2.2vh;
    /* position:relative;
    top:30vh; */
   padding-bottom: 15px;
}
#instructions-para img{
    position:relative;
    top:8px;
}
#discoverlinks{
    display: flex;
    gap:5vw;
}
#whatisSyn, #historyof {
    color:rgb(255, 255, 255);
}

#whatisSyn:hover, #historyof:hover{
    cursor:pointer;
    color:rgb(208, 211, 21);
}

/*SECTION 1*/

/* #scroll-down{
    position: absolute;
    z-index: 99;
    display:flex;
    width:50px;
    height:50px;
    font-size: 2vw;
    top:90vh;
    animation-name: scroll;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    cursor: pointer;
} */

/* @keyframes scroll {
    from {top:90vh;}
    to {top:88vh;}
} */
/*ALL section panels*/
.section-panels{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
}


/*WHAT IS SYNAESTHESIA SECTION*/
.whatis{
    background: rgb(255,238,0);
    background: linear-gradient(0deg, rgba(255,238,0,1) 0%, rgba(3,133,217,1) 100%);
    position: relative;
}
.whatis h2{
    color:rgb(0, 0, 0);
    font-size: 7vw;    
 }

 /*DEFINITION OF SYNAESTHESIA*/

 .definitions{
    /* width:100%; */
    padding-top: 20px;
    text-align:center;
    flex-direction: column;
    background-color: #ffee00;

}
.definitions h2{
    color:rgb(0, 0, 0);
    font-size: 6vh;
}
 .slider {
    cursor: grab;
    width:70%;    
    margin:0px auto; 
    /* border: 2px solid rgba(158, 1, 1, 0.322); */
    /* margin: 100px auto; */
}
.slick-initialized .slick-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.slick-slide{
    margin:20px;
    height:55vh;
    background-color: #ffffff;
    border: 5px solid rgba(0, 0, 0, 0.952);
    border-radius:10px;
    color:rgb(255, 255, 255);
    padding:50px;
  }
.slider p{
    font-size: 3vh;
    z-index:2;
}
.slider img{
    width:40%;
    margin: auto;
    z-index:1;
}
.vision-taste img{
    transform: scale(1.2);
}
.gifs img{
    transform: scale(1.1);
}
.definitions .slick-dots li button:before {
    font-size:20px;
    color:rgb(158, 1, 1);
  }
.slick-prev:before,  .slick-next:before{
    font-size: 30px;
    /* color:rgb(209, 36, 36); */
  }

  .slick-prev{
    left: -35px;
  }

/*FACTS ABOUT SYNAESTHESIA*/
.seventytypes{
    background-color: #9e0500;
    /* background: linear-gradient(0deg, #dd0700, rgba(255,238,0,1) 100%); */

}
.seventytypes img{
    width:80vw;
}

.bold{
    font-weight:bold;
}


/*4% OF WORLD POPULATION*/
.percent{
    background-color: #9e0500;
    background: linear-gradient(0deg, rgba(255,238,0,1) 10%, #9e0500  100%);    
}
.percentdiv{
    /* position:absolute;  */
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.percent img{
    width:80vw;   
}


/*SYNAESTHESIA IS... SECTION*/
.synIs{
    background-color:  #ffee00;    
    background-image: url('../images/backgrounds/mesh.png');
    background-repeat: no-repeat;
    background-size:contain;
    line-height: 0.65;

}
.synIs .flex{    
    align-items: flex-end;
}
.synIs h2{
    font-size: 2.5vw;
    align-self:flex-start;
    color:#000000;
}
.synIs h3{
    font-family: 'Cochin', Georgia, 'Times New Roman', serif;
    font-size: 7vw;
    margin:0;
    color: #fdfdfd;   
}
.synIs h3:hover{
    animation: glow 1s ease-in-out infinite alternate;
}
.synIs p{
    font-size: 2vw;
    line-height: 1;
    text-align: end;
    width:60vw;
    height: 50px;
    color:#000000;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/*Causes of Synaesthesia SECTION*/
.causesOfSyn{
    width: 100vw;
    height: 100vh;
    /* margin: auto 0; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    gap:10vh;
    background: linear-gradient(0deg, rgba(3,133,217,1) 0%, #ffee00 100%);

}
.causesOfSyn div{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    /* gap:10vh; */
}
.causesOfSyn h2{
     color: rgb(0, 0, 0);
    font-size: 3vw;
    /* text-shadow: rgba(255, 255, 255, 0.705) 1px 0 5px; */
}
.causesOfSyn p{
    font-size: 3vh;
    width:25vw;
    color:black;
    text-align:center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='69' stroke-linecap='butt'/%3e%3c/svg%3e");    padding:30px 20px;
}
.synaesthetes img{
    width:22vw;
    border-radius: 50%;
}
.synaesthetes{
    width:25vw;
    text-align: center;
}
.synaesthetes figcaption{
    color:white;
    font-size: 1.4vw;
    margin-top:10px;
}

/* A BRIEF HISTORY OF SYNAESTHESIA */
.briefHistory{
    height: 100vh;
    /* background-color: #8d3f00;
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  */
    background-image: url('../images/backgrounds/history_bg.jpg');
    background-size:cover;
    /* background-repeat: no-repeat; */
    flex-direction: column;   

}
.briefHistory p{
    font-size: 4em;
    text-align: center;
    color: white;
}

/* 1812 */
.firstDoc{
    height: 100vh;
    background-color: #fdbb2d;   
    /* background-image: url('../images/gradient-unsplash.jpg'); */
    background-image: url('../images/backgrounds/wooden-table.jpg');
    background-repeat:round;
    /* background-position: center; */
    flex-direction: column; 
}
.firstDoc p{
    color:#ffffff; 
    font-size: 20em;
    margin:0; 
   

}
.firstDoc #smaller{
    color:rgb(255, 255, 255);
    font-size: 1.5em;
    width:50vw;
    text-align: center;
}

/*SACHS'S THESIS*/
.sachsThesis{
    background-color: #ffffff; 
    background-image: url('../images/backgrounds/wooden-table.jpg');
    color:#ffffff;
    text-align: center;
    height:100vh;
}
.sachsThesis img{
    width:50vw;
}
/* .sachsThesis figcaption{
    padding:10px;
    font-size: 1vw;
} */

/*SACHS NUMBER LINE*/
.sachsnumberContainer{
    background-color: #850000;
    overscroll-behavior: none;
    width: 700vw;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
div.sachsNumbers{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50vw;
    height: 100vh;  
    font-family: 'Poller One', cursive;
}
#swipe-right{
    font-size: larger;
    animation-name: swipeRight;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes swipeRight {
    from{margin-left: 300px}
    to{margin-left :0px}
}
.sachsNumbers p{
    font-size: 15em;
    color:white;
    margin: 0;
}
#sachnumberdescription{
    font-size: 2em;
    padding:30px;
}
.sachsNumbers.para{
    background-color: #850000;
    color:white;
    width: 100vw;
}
.sachsNumbers.one{
    background-color: #000000;
    color:white;
}
.sachsNumbers.two{
    background-color: #ffffff;
    color:rgb(0, 0, 0);
}
.sachsNumbers.two .sachtwo{    
    color:rgb(8, 5, 5);
}
.sachsNumbers.three{
    background-color: #0A1045;
}
.sachsNumbers.three p{
    color:#a6b1a9;
}
.sachsNumbers.four{
    background-color: #34D5E3;
}
.sachsNumbers.four p{
    color:#E34234;
}
.sachsNumbers.five{
    background-color: #0800FF;
}
.sachsNumbers.five p{
    color:#F7FF00;
}
.sachsNumbers.six{
    background-color: #dfee9b;    
}
.sachsNumbers.six p{
    color:#4B0082;
}
.sachsNumbers.seven{
    background-color: #F4EBD9;
}
.sachsNumbers.seven p{
    color:	#536872;
}
.sachsNumbers.eight{
    background-color: #00ba9b;
}
.sachsNumbers.eight p{
    color:#5d432c;
}
.sachsNumbers.nine{
    background-color: #96f78b;
}
.sachsNumbers.nine p{
    color:#095E00;
}
.sachsNumbers.zero{
    background-color: #38be03;
}
.sachsNumbers.zero p{
    color:#F7FFBE;
}
.sachsNumbers.one .numberdesc{
    font-size: 2em;}

.sachsNumbers.two .numberdesc{
    color:rgb(0, 0, 0);
    font-size: 2em;
}
.sachsNumbers.three .numberdesc{
    font-size: 2em;
}
.sachsNumbers.four .numberdesc{
    font-size: 2em;
}
.sachsNumbers.five .numberdesc{
    font-size: 2em;
}
.sachsNumbers.six .numberdesc{
    font-size: 2em;
}
.sachsNumbers.seven .numberdesc{
    font-size: 2em;
}
.sachsNumbers.eight .numberdesc{
    font-size: 2em;
}
.sachsNumbers.nine .numberdesc{
    font-size: 2em;
}
.sachsNumbers.zero .numberdesc{
    font-size: 2em;
}

/*History video section*/
.historyVideo{
    display:flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}
.historyVideo video{
    cursor:pointer;
    width:70vw;
    /* border:#000000 5px solid; */
  
}

@media (max-width: 800px) { 
    .slider {
        width:90%; 
    }

    .slider img{
        width:25vh;
    }
    .slider p{
        font-size: 2vh;
    }
    #OtherSachs h2{
        font-size: 1em;
    }
    .historyVideo{
        height: auto;
        padding-top: 50px;
        padding-bottom: 150px;
        /* gap:10vh; */
    }
}



/*BLEULER AND LEHMANN SECTION WITH AUDIO*/
.bleulerlehmann{
    background-color: rgb(255, 180, 180);
    background-image: url('../images/backgrounds/parchment.jpg') ;
    background-size: cover;
    color:black; 
    font-size: 1.2em;
    gap:3vw;
}
.bleulerlehmann div{
  display: flex;
  flex-direction: column;  
  align-items: center;
  margin:0;
  position: relative;
}
.bleulerlehmann h2{
    font-size: 5vw;
    margin:0;
    color:#5f4c3a;
    mix-blend-mode:color-burn; 
}
.bleulerlehmann p{
    font-size: 1.5vw;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.bleulerlehmann img{
    margin-top:20px;
    
}
#showOnComplete{
    font-size: 1.2vw;
    color:#85562d;
    cursor:pointer;

}

.eugen, .lehmann{
    width:20vw;
    border: 15px solid rgb(255, 255, 255);
    border-radius: 10px;
    border-bottom: 40px solid rgb(245, 245, 245);
}

.bleulerlehmann figcaption{
    font-size: 5vh;
    font-family: 'Square Peg', cursive;
    margin-top: 13px;
}
#secondary{
    text-align: center;
    font-size: 153%;
    max-width:500px;
}

/*BLEULER AND LEHMANN 6 TYPES OF SYNAESTHESIA SECTION*/
.sixTypes{
    background-color: rgb(0, 0, 0);  
    background-image: url('../images/backgrounds/sixtypes-bg.gif');
    background-size: cover;
    height:100vh;
    width:100vw;
    flex-direction: column;  
    gap:5vh;
}

/*added with javascript*/
.sixTypes .mainpara{
    font-size: 2vw;
    color:rgb(255, 255, 255); 
    /* text-transform: uppercase; */
    mix-blend-mode:difference;
}

.sixTypes h2{
    color:rgba(255, 255, 255, 0.925); 
    margin-bottom: -10px;
    font-size: 1.5em;
    /* text-transform: uppercase; */
    mix-blend-mode:difference;
}

.sixTypes img{
    width:22vw;
}

.colourHearing{
    background-color: #000000;
    background-image: url('../images/backgrounds/black2.jpg');
    background-position: center;
    background-size: cover;
    width:100vw;
    height:100vh;
}

.colorHearing{
    font-weight: bold;
    /* color:#FFCC00; */
}
.colourHearing div{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index:10;
    gap:3vh;
    text-align: center;
    width:50%;
}
.colourHearing h2{
    font-size: 8vh;
}
.colourHearing p{
    color:white;
    font-size: 4vh;
    line-height: 1.2;
    
}
#smallerPara{
    font-size: 2.5vh;
}
#rect{
    fill: transparent;
    color:transparent;
    background-color: transparent;
}
#rect text {
    pointer-events: none;
  }
circle {
fill: transparent;
}
svg {
overflow: visible;
height: 100%;
fill: transparent;


/* Fix Safari rendering bug */
transform: translateZ(0);
}

path {
stroke-width: 2;
stroke: none;
}

.millet{
    /* background-color: #ffffff; */
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 86%, rgba(246,246,246,1) 100%);
    padding-left:5vw;
    /* background-image: url('../images/parchment.jpg'); */
    /* background-position: center; */
    /* background-size: cover;  */
    /* background-color: #0068a5; */
    /* background-color: #000000; */
    width:100vw;
    height:100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.millet h2{
    position:absolute;
    color:rgb(0, 0, 0);
    font-size:45vh;
    margin:0;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg) translateX(-100%); 
    width:100vh;
    text-align: center;
    text-decoration: underline;

}
#milletText{
    width:50vw;
    /* text-align: center; */
    margin-left: 28vw;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}

#large{
    font-size:18vh;
    color:rgb(0, 0, 0);
}
.smallerMillet{
    text-align: justify;
    z-index: 10;
    font-size:4vh;
    padding-top: 5vh; 
    /* font-family: 'Alice', serif; */
    margin-bottom: -50px;
}
.smallerMillet.white{
    color:rgb(0, 0, 0);
}
.millet img{
    width:52vw;
    opacity: 1;
    margin-bottom: -80px;
}

/*CONCLUSION SECTION*/
.conclusion{
    background-color: #000000;
    background-image: url('../images/backgrounds/white-bg.jpg');
    background-position: center;
    background-size: cover;
    flex-direction: column;
}
.conclusion h2{
    font-size: 5vh;
    color:#D63286;
    margin-bottom: 5vh;
    font-weight: bold;
}

.conclusion p{
    font-size: 4vh;
    width:50vw;
    text-align: justify; 
}

/* .conclusion #neural-and-genetic{
    color: #D63286;
    cursor:pointer;
}
.conclusion #neural-and-genetic:hover{
    color: #FFCC00;
} */


footer{
background-color: #D63286;
height:20vh;
display: flex;
/* flex-direction: column; */
align-items:center;
justify-content: center;
gap:15px;
padding-left:30px;
color:white;

}
footer p {
font-size: 1em;
}
footer a{  
color:white;
}

footer a:hover{  
color:rgb(0, 0, 0);
}

