html, body{
    scroll-behavior: smooth;
}


body {
    font-family: 'Alice','Unica One', serif;
    cursor: url('../images/cursor.png'), auto;	/* set own cursor */	 
    overflow-x: hidden; /* hide any scroll overflow */
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}
/* style for preloader - cover entire viewport and center the gif on the page */
#preloader{
    background: #000000;
    background-size: 50%;
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}
/* set paragraphs' color to black */
p{
    color:black;
}
/* set global anchors' color to black, remove text-decoration and adding padding */
a{
    text-decoration: none;
    color:rgb(8, 6, 6);
    padding:10px;
}
/* set b tag to bold font-weight */
b{
    font-weight: bold;
}
/* set em tag to italic font-style */
em{
    font-style: italic;
}

/*Set scrollbar for webpage*/
/* set width of scrollbar*/
::-webkit-scrollbar {
    width: 20px;
}

/* set progress bar of scrollbar*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* set the draggable scrolling handle's color to pink and border-radious to 10px */
::-webkit-scrollbar-thumb {
    background: #D63286; 
    border-radius: 10px;
}

/* on hover, set the draggable scrolling handle's color to a darker pink */
::-webkit-scrollbar-thumb:hover {
    background: #d30a72; 
}

/*SIDE NAV BAR*/
/*navLinks container*/
#navLinks{
/*set z-index to 99 to show above all content*/
    z-index: 99;
/*set font-size and display to flex. center the content*/
    font-size:1.3vw;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5px;
 /*set the position to fixed so that it will remain in place throughout the webpage*/ 
    position: fixed;
    width: 13vw;
    height: 2.5vw;
    left: 100%;
    top: 50%;                
/*rotate the nav container by 90deg*/
    transform-origin: 0% 0%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg) translateX(-50%);
/*rotate the nav container by 90deg*/ 
    padding:10px 30px 10px 30px;
    background-color: transparent; 
    color:white;
    text-align: center;
}
/*overrule global a style, change color to white*/
#navLinks a{
    color:rgb(255, 255, 255);
    text-shadow: #000000 1px 0 20px;
}
/*on hover, change cursor to pointer */
#navLinks a:hover{
    cursor: pointer;
  }
/*center the icons within the anchor tag*/
.homebtn, .scroll{
    display: flex;   
  }
/*set img widths*/
.scroll img{
    width:1.5vw;
  }
.homebtn img{
    width:1.9vw;
  }
/* add light background colour to nav bar on hover*/
#navLinks:hover{
    background-color: rgb(249, 251, 252);
    opacity:0.9;
}
/*on hovering over nav bar, change link text color to black */   
#navLinks:hover > a{
    color: black;
}
/*on hovering over the icons in nav bar, add yellow background colour */  
.homebtn:hover, .scroll:hover{
    background-color: #FFCC00;
}
/*on hovering over the nav bar, add yellow text shadow to Experience link */  
#navLinks:hover > .expbtn:hover{
    text-shadow: #FFCC00 1px 0 10px;
}

/*LANDING SECTION - HISTORY OF SYNAESTHESIA*/
/* center content of hero section*/
.hero{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;    
}
/*set the video to full viewport width and height*/
#background-video-landing{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
/* container to flex and center content in column direction */
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:100vw;
    gap:20px;
}
/* set h1 color and font style */
.hero h1{
    color:#ffffff;
    text-align: center;
    margin: 0;
    font-size:7.5vw;
    text-shadow: rgba(0, 0, 0, 0.555) 1px 0 5px;
}
/* set p color and font style */
.hero p{
    font-size: 3vh;
    padding:10px;
    color:rgb(250, 250, 250);
    margin:0;
    text-align: center;
    background-color: #00000071;
    border-radius: 5px;
}
/* set smaller paragraph style */
#instructions-para{
    font-size: 2.2vh;
    padding-bottom: 15px;
}
/* arrow icon to position:relative in order to position it in the center of the paragraph */
#instructions-para img{
    position:relative;
    top:8px;
}

/*ALL sections with the 'section-panels'class*/
/*Set width and height to 100 viewport width and height and set as a flex container with centered content*/
.section-panels{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
}
/*WHAT IS SYNAESTHESIA SECTION*/
.whatis{
    background: rgb(255,238,0);
    background: linear-gradient(0deg, rgba(255,238,0,1) 0%, rgba(3,133,217,1) 100%);
}
.whatis h2{
    color:rgb(0, 0, 0);
    font-size: 7vw;  
}

 /*DEFINITIONS OF SYNAESTHESIA*/
/*set text-align to center and background colour to yellow*/
 .definitions{
    text-align:center;
    background-color: #ffee00;
}
/*CAROUSEL - set cursor to grab, width to 70% of window width*/
 .slider {
    cursor: grab;
    width:70%;    
}
/*CAROUSEL SLIDES - set to flex and center content in column direction*/
.slick-initialized .slick-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}
 /* set margin of 20px between slides */
.slick-slide{ 
    margin:20px;
/* set standard height for all slides to 55vh and set background color */
    height:55vh;
    background-color: #ffffff;
    border: 5px solid rgba(0, 0, 0, 0.952);
    border-radius:10px;
    color:rgb(255, 255, 255);
    padding:50px;
  }
.slider p{
    font-size: 3vh;
    z-index:2;  /* ensure text is above the image in slide */
}
.slider img{
    width:40%;
    margin: auto; /*center image in slide*/
    z-index:1; /* ensure image is below the text in slide */
}
/*set image widths for images in slides*/
.vision-taste img{
    transform: scale(1.2);
}
.gifs img{
    transform: scale(1.1);
}
/*colour of dots*/
.definitions .slick-dots li button:before {
    font-size:20px;
    color:rgb(158, 1, 1);
  }
/*size of arrows at sides of carousel*/  
.slick-prev:before,  .slick-next:before{
    font-size: 30px;
  }
/*move left arrow slightly to the left*/
  .slick-prev{
    left: -35px;   
  }

/*SEVENTY TYPES OF SYNAESTHESIA SECTION*/
.seventytypes{
    background-color: #9e0500;
}
.seventytypes img{
    width:80vw;
}

/*4% OF WORLD POPULATION*/
.percent{
    background-color: rgba(255,238,0,1); /*backup colour*/
    background: linear-gradient(0deg, rgba(255,238,0,1) 10%, #9e0500  100%);    
}
.percent img{
    width:80vw;   
}

/*SYNAESTHESIA IS... SECTION*/
.synIs{
    background-color:  #ffee00;    
    background-image: url('../images/backgrounds/mesh.png');
    background-repeat: no-repeat;
    background-size:contain;
    line-height: 0.65; /*Reduce line height for descriptive text*/
}
.synIs .flex{    
    align-items: flex-end; /*align descriptive texts to flex-end*/
}
.synIs h2{
    font-size: 2.5vw;
    align-self:flex-start; /*align h2 to flex-start*/
    color:#000000;
}
.synIs h3{
    font-family: 'Cochin', Georgia, 'Times New Roman', serif;
    font-size: 7vw;
    color: #fdfdfd;   
}
/*add glow animation on hover*/
.synIs h3:hover{
    animation: glow 1s ease-in-out infinite alternate;
}
/*create pulsating pink glow by increasinging/decreasing text-shadow*/
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
.synIs p{
    font-size: 2vw;
    line-height: 1;
    text-align: end;
    width:60vw;
    height: 50px;
    color:#000000;
}

/*Causes of Synaesthesia section*/
.causesOfSyn{
    flex-direction: column;
    gap:10vh; /*gap between h2 and div*/
    background: linear-gradient(0deg, rgba(3,133,217,1) 0%, #ffee00 100%);
}
.causesOfSyn div{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly; /*space evenly across screen*/
}
.causesOfSyn h2{
    color: rgb(0, 0, 0);
    font-size: 3vw;
}
.causesOfSyn p{
    font-size: 3vh;
    width:25vw;
    color:black;
    text-align:center;
    /*add a svg frame around paragraph*/
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='69' stroke-linecap='butt'/%3e%3c/svg%3e");    padding:30px 20px;
}
.synaesthetes img{
    width:22vw;
    border-radius: 50%;
}
.synaesthetes{
    width:25vw;
    text-align: center;
}
.synaesthetes figcaption{
    color:white;
    font-size: 1.4vw;
    margin-top:10px;
}

/* A BRIEF HISTORY OF SYNAESTHESIA */
.briefHistory{
    background-image: url('../images/backgrounds/history_bg.jpg'); /*set bg to wooden table*/
    background-size: cover;
}
.briefHistory p{
    font-size: 5em;
    text-align: center;
    color: white;
}

/* 1812 */
.firstDoc{
    background-color: #fdbb2d; /*backup bg*/  
    background-image: url('../images/backgrounds/wooden-table.jpg'); /*set bg to wooden table*/
    background-size: cover;
    flex-direction: column; 
}
.firstDoc p{
    color:#ffffff; 
    font-size: 20em;
    margin:0; 
}
.firstDoc #smaller{
    color:rgb(255, 255, 255);
    font-size: 1.5em;
    width:60vw;
    text-align: center;
}

/*SACHS'S THESIS*/
.sachsThesis{
    background-color: #fdbb2d; /*backup bg*/  
    background-image: url('../images/backgrounds/wooden-table.jpg');
    background-size: cover;
    color:#ffffff;
    text-align: center;
}
.sachsThesis img{
    width:50vw;
}

/*SACHS NUMBER LINE*/
.sachsnumberContainer{
    background-color: #850000;
    overscroll-behavior: none; /*ensure no overscroll*/
    width: 700vw; /*extra long length to hold the horizontal scroll sections*/
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
/*sections holding numbers*/
div.sachsNumbers{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50vw;
    height: 100vh;  
    font-family: 'Poller One', cursive;
}
/*arrow with animation*/
#swipe-right{
    font-size: larger;
    animation-name: swipeRight;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
/*animation that smoothly bounces left to right*/
@keyframes swipeRight {
    from{margin-left: 300px}
    to{margin-left :0px}
}
.sachsNumbers p{
    font-size: 15em; /*large font-size for numbers in each section*/
    color:white;
    margin: 0;
}
/*First horizontal scroll section. set bg color to deep red, font to white, width to 100vw*/
.sachsNumbers.para{
    background-color: #850000;
    color:white;
    width: 100vw;
}
/*zero - pale yellow text, green bg*/
.sachsNumbers.zero{
    background-color: #38be03;
}
.sachsNumbers.zero p{
    color:#F7FFBE;
}
/*one - white text, black bg*/
.sachsNumbers.one{
    background-color: #000000;
    color:white;
}
/*two- black text, white bg*/
.sachsNumbers.two{
    background-color: #ffffff;
    color:rgb(0, 0, 0);
}
.sachsNumbers.two p{    
    color:rgb(8, 5, 5);
}
/*three- ash-grey text, navy blue bg*/
.sachsNumbers.three{
    background-color: #0A1045;
}
.sachsNumbers.three p{
    color:#a6b1a9;
}
/*four- vermilion text, sky blue bg*/
.sachsNumbers.four{
    background-color: #34D5E3;
}
.sachsNumbers.four p{
    color:#E34234;
}
/*five- yellow text, bright blue bg*/
.sachsNumbers.five{
    background-color: #0800FF;
}
.sachsNumbers.five p{
    color:#F7FF00;
}
/*six- indigo text, sandy bg*/
.sachsNumbers.six{
    background-color: #dfee9b;    
}
.sachsNumbers.six p{
    color:#4B0082;
}
/*seven- bluish grey text, cream bg*/
.sachsNumbers.seven{
    background-color: #F4EBD9;
}
.sachsNumbers.seven p{
    color:	#536872;
}
/*eight- brown text, blue-green bg*/
.sachsNumbers.eight{
    background-color: #00ba9b;
}
.sachsNumbers.eight p{
    color:#5d432c;
}
/*seven- dark green text, light green bg*/
.sachsNumbers.nine{
    background-color: #96f78b;
}
.sachsNumbers.nine p{
    color:#095E00;
}
/*set font-size of all*/
.sachsNumbers .numberdesc, #sachnumberdescription{
    font-size: 2em;
}

/*History video section*/
.historyVideo{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}
.historyVideo video{
    cursor:pointer;
    width:70vw;  
}

/*BLEULER AND LEHMANN SECTION WITH AUDIO*/
.bleulerlehmann{
    background-color: rgb(255, 180, 180); /*backup bg color*/
    background-image: url('../images/backgrounds/parchment.jpg');
    background-size: cover;
    color:black; 
    font-size: 1.2em;
    gap:3vw;
}
.bleulerlehmann div{
  display: flex;
  flex-direction: column;  
  align-items: center;
  margin:0;
  position: relative;
}
.bleulerlehmann h2{
    font-size: 5vw;
    margin:0;
    color:#5f4c3a;
    mix-blend-mode:color-burn; 
}
.bleulerlehmann p{
    font-size: 1.5vw;
    margin-top: 50px;
    margin-bottom: 50px;   
}
.bleulerlehmann img{
    margin-top:20px;    
}
/*text which appears after audio is finished paying*/
#showOnComplete{
    font-size: 1.2vw;
    color:#85562d;
    cursor:pointer;
}
/*set image sizes and add polaroid-like frame*/
.eugen, .lehmann{
    width:20vw;
    border: 15px solid rgb(255, 255, 255);
    border-radius: 10px;
    border-bottom: 40px solid rgb(245, 245, 245);
}
/*set handwritten font for figcaption and add spacing to top*/
.bleulerlehmann figcaption{
    font-size: 5vh;
    font-family: 'Square Peg', cursive;
    margin-top: 13px;
}
/*BLEULER AND LEHMANN 6 TYPES OF SYNAESTHESIA SECTION*/
.sixTypes{
    background-color: rgb(0, 0, 0);  
    background-image: url('../images/backgrounds/sixtypes-bg.gif');
    background-size: cover;
    flex-direction: column;  
    gap:5vh;
}

/*class added with javascript*/
.sixTypes .mainpara{
    font-size: 2vw;
    color:rgb(255, 255, 255); 
    mix-blend-mode:difference;
}
/*heading for page*/
.sixTypes h2{
    color:rgba(255, 255, 255, 0.925); 
    margin-bottom: -10px;
    font-size: 2vw;
    mix-blend-mode:difference;
}
/*set size of dial*/
.sixTypes img{
    width:22vw;
}
/*COLOUR HEARING SECTION*/
.colourHearing{
    background-color: #000000;
    background-image: url('../images/backgrounds/black2.jpg');
    background-position: center;
    background-size: cover;
}
/*FLEX CONTAINER with column direction*/
.colourHearing div{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index:10;
    gap:3vh;
    text-align: center;
    width:50%;
}
/*size of heading*/
.colourHearing h2{
    font-size: 8vh;
}
/*size of heading*/
.colourHearing p{
    color:white;
    font-size: 4vh;
    line-height: 1.2;    
}
/*Millet defines 'synesthesia' section*/
.millet{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 86%, rgba(246,246,246,1) 100%);
    padding-left:5vw;
    width:100vw;
    height:100vh;
}
/*rotate the heading by 270deg and make text large*/
.millet h2{
    position:absolute;
    color:rgb(0, 0, 0);
    font-size:45vh;
    margin:0;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg) translateX(-100%); 
    width:100vh;
    text-align: center;
    text-decoration: underline;
}
/*div containing p tags and image. set to 50% of viewport width*/
#milletText{
    width:50vw;
    margin-left: 28vw;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}
/*larger paragraph, set large font-size*/
#large{
    font-size:18vh;
    color:rgb(0, 0, 0);
}
.smallerMillet{
    text-align: justify;
    z-index: 10;
    font-size:4vh;
    padding-top: 5vh; 
    margin-bottom: -50px;
    color:rgb(0, 0, 0);
}
/*set senses image to 52 vw, decrease margin at bottom*/
.millet img{
    width:52vw;
    margin-bottom: -80px;
}

/*CONCLUSION SECTION*/
.conclusion{
    background-color: #000000;
    background-image: url('../images/backgrounds/white-bg.jpg');
    background-position: center;
    background-size: cover;
    flex-direction: column;
}
/*set heading to pink*/
.conclusion h2{
    font-size: 5vh;
    color:#D63286;
    margin-bottom: 5vh;
    font-weight: bold;
}

.conclusion p{
    font-size: 4vh;
    width:50vw;
    text-align: justify; /*justify text*/
}

footer{
background-color: #D63286;
height:20vh;
display: flex;
align-items:center;
justify-content: center;
gap:15px;
padding-left:30px;
color:white;

}
footer p {
font-size: 1em;
}
footer a{  
color:white;
}

footer a:hover{  
color:rgb(0, 0, 0);
}

/*mobile styles for responsivity*/
@media (max-width: 800px) { 
    .hero{
        text-align: center;
    }
    .hero h1{
        font-size:12vw;
        width:70vw;
    }
    .hero p{
        font-size: 2vh;
        width:70vw;
    }
    #navLinks{
        font-size:1.5vh;
        width: 17vw;
        height: 2.5vw;
      }
    #instructions-para{
        font-size: 1.8vh;
    }
    .seventytypes img, .percent img{
        width:100%;
    }
    .synIs{
        background-size:cover;
        background-position: center;
    }
    .synIs h3{
        font-size:9vw;
    }
    .synIs h2{
        font-size:5vw;
    }
    .synIs p{
        width: 70vw;
    }
    #addDescription{
        font-size:5vw;
    }
    .slider {
        width:95%; 
    }
    .slider img{
        width:25vh;
    }
    .slider p{
        font-size: 2.5vh;
        width:40vw;
    }
    .slick-prev{
        visibility: hidden;
      }
      .slick-next{
        visibility: hidden;
      }
    .seventytypes img{
        transform: scale(1.1);
    }
    .percent img{
        transform: scale(1.2);
    }
    .causesOfSyn {
        height:auto; 
        padding-top:20px;   
        gap:5px;
        margin:0;    
    }
    .causesOfSyn h2{
        font-size: 5vw;
    }
    .causesOfSyn div{
        width:80%;
        text-align: center;
        justify-content:center;
    }
    .causesOfSyn p{
        width:70vh;
        font-size: 2.5vh;
    }
    .causesOfSyn figure{
        width:50vw;        
        padding:30px;        
    }
    .synaesthetes img{
        width:50vw;
    }
    .synaesthetes figcaption{
        font-size: 3vw;
    }

    .briefHistory p{
        font-size: 7vh;
        padding:10px;
        width:80vw;
        text-align: center;
    }
    .firstDoc{
        gap:50px;
    }
    .firstDoc p{
        font-size: 15vh;
    }
    .firstDoc #smaller{
        font-size: 3vh;
        width:80vw;
        line-height: 1.4;
    }
    .sachsThesis img{
        width:75vw;
    }
    #OtherSachs h2{
        font-size: 1em;
    }
    .historyVideo{
        height: auto;
        padding-top: 50px;
        padding-bottom: 150px;
        /* gap:10vh; */
    }    
    .sachsNumbers{
        visibility: hidden;
    }
    .sachsnumberContainer:after{
        content: "view on desktop"
    }
}

@media only screen and (max-width: 800px) {
    html {
      width: 100vw;
      overflow-x: hidden;
    }
}