html, body{
    scroll-behavior: smooth;
}
body {
    /* font-family:monospace, Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Alice', serif;
    cursor: url('../images/circle24.png'), auto;	
    overflow-x: hidden;
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s; /* Safari */

}
p{
    font-size:15%;
    color:black;
}
a{
    text-decoration: none;
    color:rgb(8, 6, 6);
    padding:10px;
    }
/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: linear-gradient(0deg, #ff0000, #fffb00,#ff0000); */
    background: #fa4c4c; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff0000; 

}
/*SIDE NAV BAR*/
#navLinks{
    position:absolute;
    z-index: 99999;
    font-size:1.3vw;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5px;
  
    position: fixed;
    width: 13vw;
    height: 2.5vw;
    left: 100%;
    top: 50%;                
   
    transform-origin: 0% 0%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg) translateX(-50%);
  
    padding:10px 30px 10px 30px;
    background-color: transparent;
    /* border: 0.5px solid rgb(243, 243, 243); */    
    color:white;
    text-align: center;
}
#navLinks a{
    color:rgb(255, 255, 255);
}
#navLinks a:hover{
    cursor: pointer;
  }
.homebtn, .scroll{
    display: flex;   
  }
.scroll img{
    width:1.5vw;
  }
.homebtn img{
    width:1.9vw;
  }
.scroll{
    background-color: transparent;
    border:none;
}
.expbtn{
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

#navLinks:hover{
    background-color: rgb(249, 251, 252);
    opacity:0.9;
}
    
#navLinks:hover > a{
    color: black;
}

.homebtn:hover{
    background-color: #FC0;
}
#navLinks:hover > .expbtn:hover{
    color: rgb(194, 64, 12);
    text-shadow: #FC0 1px 0 10px;
}
.scroll:hover{
    cursor:pointer;
    background-color: #FC0;
}
.previous:hover {
    cursor:pointer;
}

/*LANDING SECTION - HISTORY OF SYNAESTHESIA*/
.hero{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* background-color: #fefefe;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23b70b00' fill-opacity='0.26'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}
#background-video-landing{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:100vw;
    gap:20px;
}
.hero h1{
    color:#ffffff;
    /* background: linear-gradient(45deg, #ff0000, #ff4800, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 10px transparent; */
    text-align: center;
    /* padding:20px; */
    margin: 0;
    /* width:85vw; */
    /* font-family: 'Lilita One', cursive; */
    font-family: 'Staatliches', cursive;
    font-size:8vw;
    /* text-shadow: rgb(0, 0, 0) 1px 0 10px; */
}
.hero p{
    font-size: 1.5vw;
    padding:5px;
    /* width:70vw; */
    color:rgb(250, 250, 250);
    /* background-color: rgb(255, 255, 255); */
    margin:0;
}
#discoverlinks{
    display: flex;
    gap:5vw;
}
#whatisSyn, #historyof {
    color:rgb(255, 255, 255);
}

#whatisSyn:hover, #historyof:hover{
    cursor:pointer;
    color:rgb(208, 211, 21);

}

/*SECTION 1*/

/* #section1 a:hover{
    text-shadow: #FC0 1px 0 10px;
} */
#scroll-down{
    position: absolute;
    z-index: 100;
    display:flex;
    /* background-color: rgba(253, 166, 166, 0.822);
    border-radius: 50px;
    align-items: center;
    justify-content: center;     */
    /* text-align: center; */
    width:50px;
    height:50px;
    font-size: 2vw;
    top:90vh;
    animation-name: scroll;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes scroll {
    from {top:90vh;}
    to {top:88vh;}
}
/*ALL PUSHIN LAYERS*/
.pushin-layer {
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    display:flex;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
}


/*WHAT IS SYNAESTHESIA SECTION*/
.whatis{
    /* background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #c44b06 85%); */
    background: rgb(255,238,0);
background: linear-gradient(0deg, rgba(255,238,0,1) 0%, rgba(3,133,217,1) 100%);
}
.whatis h1{
    color:rgb(0, 0, 0);
    font-size: 7vw;
 }
 /*DEFINITION OF SYNAESTHESIA*/

 .def{
    /* width:100%; */
    padding-top: 20px;
    text-align:center;
    flex-direction: column;
    background-color: #ffee00;

}
.def h1{
    color:rgb(0, 0, 0);
    font-size: 6vh;
}
 .slider {
    cursor: grab;
    width:70%;    
    margin:0px auto; 
    /* border: 2px solid rgba(158, 1, 1, 0.322); */
    /* margin: 100px auto; */
}
.slick-initialized .slick-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slick-slide{
    margin:20px;
    height:55vh;
    background-color: #ffffff;
    border: 5px solid rgba(0, 0, 0, 0.952);
    border-radius:10px;
    color:rgb(255, 255, 255);
    padding:30px;
  }
.slider p{
    font-size: 3vh;
}
.slider img{
    width:40%;
    margin: auto;
}
.vision-taste img{
    transform: scale(1.2);
}
.gifs img{
    transform: scale(1.1);
}
.def .slick-dots li button:before {
    font-size:20px;
    color:rgb(158, 1, 1);
  }
.slick-prev:before,  .slick-next:before{
    font-size: 30px;
    /* color:rgb(209, 36, 36); */
  }

  .slick-prev{
    left: -35px;
  }

/*FACTS ABOUT SYNAESTHESIA*/
.alltypes{
    background-color: #9e0500;
    /* background: linear-gradient(0deg, #dd0700, rgba(255,238,0,1) 100%); */

}
.alltypes img{
    width:80vw;
}
.alltypes p {
    font-size: 1em; 
    width:50vw;
    line-height: 1.4;
}
.bold{
    font-weight:bold;
}


/*4% OF WORLD POPULATION*/
.percent{
    background-color: #9e0500;
    background: linear-gradient(0deg, rgba(255,238,0,1) 10%, #9e0500  100%);
    
}
.percentdiv{
    /* position:absolute;  */
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.percent p{
    font-size: 1em;
}
.percent h2{
    color:rgb(0, 0, 0);
    position:absolute;
    font-size: 3vh;
    /* text-shadow: rgb(3, 3, 3) 1px 0 10px; */
    width:60%;
    text-align: center;
    background-color: #ffffffc9;
    padding:10px 5px;
    border-radius: 20px;
}
.percent img{
    width:80vw;
    /* border-radius:50%; */
    /* margin:0 auto; */
   
}

.dottedcircle{
    position:absolute; 
    width: 500px;
    height: 500px;
    background: transparent;
    border: 2px dotted rgb(114, 0, 245);
    border-radius: 50%;
    
    /* left:20vw;
    top:20vh; */
}
/*SYNAESTHESIA IS... SECTION*/
.add{
    
    /* background-color:  #ffee00; */
    background-color:  #ffee00;    
    background-image: url('../images/mesh.png');
    background-repeat: no-repeat;
    background-size:contain;
    line-height: 0.65;
    /* flex-direction: column; */
    /* gap:10vh; */
   
}
.add .flex{    
    align-items: flex-end;
}
.add h2{
    font-size: 2.5vw;
    align-self:flex-start;
    color:#000000;
}
.add h3{
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 7vw;
    margin:0;
    color: #fdfdfd;   
}
.add h3:hover{
    animation: glow 1s ease-in-out infinite alternate;
}
.add p{
    font-size: 2vw;
    line-height: 1;
    text-align: end;
    width:60vw;
    height: 50px;
    color:#000000;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/*VIDEO SECTION*/
.video{
    width: 100vw;
    height: 100vh;
    /* margin: auto 0; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap:5vh;
    background: linear-gradient(0deg, rgba(3,133,217,1) 0%, #ffee00 100%);

}
.video div{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    /* gap:10vh; */
}
.video h1{
     color: rgb(0, 0, 0);
 

    font-size: 3vw;
    text-shadow: rgb(255, 255, 255) 1px 0 5px;
}
.video p{
    font-size: 1.4vw;
    width:25vw;
    color:black;
    text-align: center;
    /* border:#ffffff;
    border-style: dotted;senseim
    border-width: 2px; */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='69' stroke-linecap='butt'/%3e%3c/svg%3e");    padding:30px 20px;
}
.synaesthetes img{
    width:22vw;
    border-radius: 50%;
}
.synaesthetes{
    width:25vw;
    text-align: center;
}
.synaesthetes figcaption{
    color:white;
    font-size: 1.4vw;
    margin-top:10px;
}
/* A BRIEF HISTORY OF SYNAESTHESIA */
.brief{
    height: 100vh;
    /* background-color: #8d3f00;
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  */
    background-image: url('../images/history_bg.jpg');
    background-size:cover;
    /* background-repeat: no-repeat; */
    flex-direction: column;
    

}
.brief p{
    font-size: 4em;
    text-align: center;
    color: white;
}

/* 1812 */
.yearone{
    background-color: #fdbb2d;   
    /* background-image: url('../images/paper.jpg'); */
    /* background-repeat:round; */
    /* background-position: center; */
    flex-direction: column; 
}
.yearone p{
    color:rgb(255, 255, 255);
    font-size: 20em;
    margin:0; 
}
.yearone #smaller{
    color:rgb(255, 255, 255);
    font-size: 1.5em;
    width:50vw;
    text-align: center;
}

/*SACHS'S THESIS*/
.white{
    background-color: #ffffff; 
    background-image: url('../images/wooden-table.jpg');
    color:#ffffff;
    text-align: center;
    height:100vh;
}
.white img{
    width:50vw;
}
.white figcaption{
    padding:10px;
    /* font-family: 'PT Serideff', serif; */
    /* background-color: #e4dab1; */
    font-size: 1vw;
}
/*SACHS NUMBER LINE*/
.sachsnumberContainer{
    background-color: #850000;
    overscroll-behavior: none;
    width: 700vw;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}
div.sachsNumbers{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50vw;
    height: 100vh;  
    font-family: 'Poller One', cursive;
}
.sachsNumbers p{
    font-size: 15em;
    color:white;
    margin: 0;
}
#sachnumberdescription{
    font-size: 2em;
    padding:30px;
}
.sachsNumbers.para{
    background-color: #850000;
    color:white;
    width: 100vw;
}
.sachsNumbers.one{
    background-color: #000000;
    color:white;
}
.sachsNumbers.two{
    background-color: #ffffff;
    color:rgb(0, 0, 0);
}
.sachsNumbers.two .sachtwo{    
    color:rgb(8, 5, 5);
}
.sachsNumbers.three{
    background-color: #0A1045;
}
.sachsNumbers.three p{
    color:#a6b1a9;
}
.sachsNumbers.four{
    background-color: #34D5E3;
}
.sachsNumbers.four p{
    color:#E34234;
}
.sachsNumbers.five{
    background-color: #0800FF;
}
.sachsNumbers.five p{
    color:#F7FF00;
}
.sachsNumbers.six{
    background-color: #dfee9b;    
}
.sachsNumbers.six p{
    color:#4B0082;
}
.sachsNumbers.seven{
    background-color: #F4EBD9;
}
.sachsNumbers.seven p{
    color:	#536872;
}
.sachsNumbers.eight{
    background-color: #00ba9b;
}
.sachsNumbers.eight p{
    color:#5d432c;
}
.sachsNumbers.nine{
    background-color: #96f78b;
}
.sachsNumbers.nine p{
    color:#095E00;
}
.sachsNumbers.ten{
    background-color: #38be03;
}
.sachsNumbers.ten p{
    color:#F7FFBE;
}
.sachsNumbers.one .numberdesc{
    font-size: 2em;}

.sachsNumbers.two .numberdesc{
    color:rgb(0, 0, 0);
    font-size: 2em;
}
.sachsNumbers.three .numberdesc{
    font-size: 2em;
}
.sachsNumbers.four .numberdesc{
    font-size: 2em;
}
.sachsNumbers.five .numberdesc{
    font-size: 2em;
}
.sachsNumbers.six .numberdesc{
    font-size: 2em;
}
.sachsNumbers.seven .numberdesc{
    font-size: 2em;
}
.sachsNumbers.eight .numberdesc{
    font-size: 2em;
}
.sachsNumbers.nine .numberdesc{
    font-size: 2em;
}
.sachsNumbers.ten .numberdesc{
    font-size: 2em;
}

/*OTHER TYPES DESCRIBED BY SACHS*/
#history-video{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* gap:5vh; */
    background-color: #ffffff;
    /* background-image: url('../images/paper-texture.jpg');
    background-size: cover; */

}
#history-video video{
    cursor:pointer;
    width:75vw;
}
/* #OtherSachs h1{
    font-size: 2em;
    margin:0;
}
#OtherSachs p{
    font-size: 1em;
    display: flex;
    align-items: center;
} */

/* #cardContainer{
    display:flex;

    align-items: flex-end;
    justify-content: center;
    gap:15vw;
    text-align: center;
    width:100%;
} */
/* .cards{
    display:flex;
    gap:20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:20vw;
    height:25vw;
    font-size:1.2em;
    background-color: transparent;
}
.cards img{
    width:20vw;
} */

@media (max-width: 800px) { 
    .slider {
        width:80%; 
    }

    .slider img{
        width:25vh;
    }
    .slider p{
        font-size: 2vh;
    }
    #OtherSachs h1{
        font-size: 1em;
    }
    #history-video{
        height: auto;
        padding-top: 50px;
        padding-bottom: 150px;
        /* gap:10vh; */
    }
    /* #OtherSachs p{
        margin-top: -30px;
    }
    #cardContainer{
        flex-wrap: wrap;
        gap:40vw;
        width:100%;
        padding:30px;
    }
    .cards{
        width: 500px;
        gap:15px;
    }
    .cards img{
        width:35vh;
    } */
    
}



/*ALL VERTICAL SCROLL SECTIONS*/
.verticalScroll{
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    display:flex;
    align-items: center;
    justify-content: center;;
}



.bleuler-lehmann{
    background-color: rgb(255, 180, 180);
    background-image: url('../images/parchment.jpg') ;
    background-size: cover;
    color:black; 
    font-size: 1.2em;
}
.bleuler-lehmann div{
  display: flex;
  flex-direction: column;  
  align-items: center;
  margin:0;
  position: relative;
}
.bleuler-lehmann h1{
    font-size: 5vw;
    margin:0;
    color:#5f4c3a;
    mix-blend-mode:color-burn; 
}
.bleuler-lehmann p{
    font-size: 1.5vw;
    margin-top: 50px;
   
}
.bleuler-lehmann img{
    margin-top:20px;
    
}
#showOnComplete{
    font-size: 1.2vw;
    color:#85562d;
    cursor:pointer;

}

.eugen, .lehmann{
    width:20vw;
    border: 15px solid rgb(255, 255, 255);
    border-radius: 10px;
    border-bottom: 40px solid rgb(245, 245, 245);
}

.bleuler-lehmann figcaption{
    font-size: 1.5vw;
    font-family: 'Homemade Apple', cursive;
}
#secondary{
    text-align: center;
    font-size: 153%;
    max-width:500px;
}

/*6 TYPES OF SYNAESTHESIA SECTION*/
.types{
    background-color: rgb(0, 0, 0);  
    background-image: url('../images/abstractbg.gif');
    background-size: cover;
    height:100vh;
    width:100vw;
    flex-direction: column;  
    gap:5vh;
}

/*added with javascript*/
.types .mainpara{
    font-size: 2vw;
    color:rgb(255, 255, 255); 
    /* text-transform: uppercase; */
    mix-blend-mode:difference;
}

.types h1{
    color:rgba(255, 255, 255, 0.925); 
    margin-bottom: -10px;
    font-size: 1.5em;
    /* text-transform: uppercase; */
    mix-blend-mode:difference;
}

.types img{
    width:22vw;
}





/*CONTAINER FOR HORIZONTAL SCROLL SECTIONS*/
  /* .horizontalscroll{
    overscroll-behavior: none;
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
} */

/*ALL PANELS IN HORIZONTAL SCROLL SECTION*/
  /* .panels{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 10em;
    text-align: center;  
    
}
.panels p{
    color:white;
} */

/*RISE OF COLOUR HEARING*/
/* .last{
    background: #1a2a6c;  
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); 
    font-size:4em;
    color:rgb(255, 255, 255);
   
}
.last h1{
    width:80vw;

} */
/*BOXES SECTION*/
/* .panels.one{
    background-color: #FC0;      
}
#squareContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap:30px;

} */

/* #swipe-right{
    animation-name: scrollright;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes scrollright {
    from {margin-left:5%;}
    to {margin-left:60%;}
} */
/*ALL BOX CONTAINERS*/
/* .container,  .container2, .container3, .container4 {
    position: relative;
    width:20vw;
} */
/*ALL BOX IMAGES*/
/* .geoimage, .geoimage2, .geoimage3, .geoimage4 {
    display: block;
    width:20vw;
    height: auto;
} */
/*ALL BOX P TAGS*/
/* .absolute{
    position: absolute;
    font-size: 0.9em;
} */

/*FIRST BOX*/
/* .overlay2 {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #d12a00;
    overflow: hidden;
    width: 0;
    height: 100%;
} */

/* .container2:hover .overlay2 {
    width: 100%;
    left: 0;

} */
/* .text2 {
    color: white;
    font-size: 0.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:80%;
} */
/* .text2 p{
    font-size: 0.5em;

}
@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}  */
/*SECOND BOX*/ 
/* .overlay3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #21a500;
    overflow: hidden;
    width: 0;
    height: 100%;

  } */
  
/* .container3:hover .overlay3 {
    width: 100%;
  } */
  
/* .text3 {
    color: white;
    font-size: 0.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap; 
    width:80%;
  } */
  /* .text3 p{
    font-size: 0.5em;
  } */
 /*THIRD BOX*/ 
/* .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008bba;
    overflow: hidden;
    width: 100%;
    height:0;

}   */
/* .container:hover .overlay {
    bottom: 0;
    height: 100%;
} */
/* .text {
    color: white;
    font-size: 0.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width:80%;
} */
/* .text p{
    font-size: 0.5em;
  } */
/*FOURTH BOX*/
/* .overlay4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ff00ea;
    overflow: hidden;
    width: 100%;
    height: 0;
  } */
  
/* .container4:hover .overlay4 {
    height: 100%;
  } */
  
/* .text4 {
    color: white;
    font-size: 0.25em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width:80%;
  } */
/* .text4 p{
    font-size: 0.5em;
  } */
/*SECOND SECTION*/
  /* .panels.two{
    background-color: rgb(0, 160, 13);
    
} */
/* .panels.two p{
    font-size: 0.5em;
    color:black;
} */
/*THIRD SECTION*/
/* .panels.three{
    background-color: rgb(1, 101, 158);
} */

/*VERTICAL SCROLL SECTIONS*/
/* .down, .down2{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 10em;
    background-color: #ffacff;
  }
.down2{
      background-color: #21a500;
  } */

